<!DOCTYPE html>
<html>
    
<head>
    <meta lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MovieApp</title>

    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/globals.css') }}">

    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    {% block head %}

    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="navbar-content">
            <a class="navbar-block left" href="/movies">
                Movie Database
            </a>

            <div id="user-nav-block" class="navbar-block right">
                <span id="navbar-user">{{ current_user.username }}</span>
            
                <div id="user-dropdown">
                    <ul>
                        <a href="{{ url_for('auth_logout') }}">
                            <li>Log Out</li>
                        </a>
                    </ul>
                </div>
            </div>

            <!-- Only show appropriate links based on user role -->
            {% if current_user.role == "ADMIN" %}
                <a class="navbar-block right" href="/movies/new">
                    Add New Movie
                </a>

                <a class="navbar-block right" href="/movies/requested">
                    See Requested Movies
                </a>
            {% endif %}

            {% if current_user.role == "USER" %}
                <a class="navbar-block right" href="/movies/request">
                    Request Movie
                </a>
            {% endif %}
        </div>
    </div>

    <div id="site-container">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>