input[type="text"] {
    border: 0;
    box-shadow: none;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
    outline: none;
    width: 500px;
}

#input-plot {
    width: 500px;
    height: 120px;
    background: transparent;
    color: white;
    padding: 10px;
    resize: none;
}

input[type="submit"] {
    border: 1px solid white;
    padding: 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 10px;

    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

#submit-btn:hover {
    color: black;
    background-color: white;
}

input, textarea {
    margin-bottom: 30px;
    margin-right: 50px;
}

#preview-text {
    color: white;
    margin-bottom: 10px;
}

#movie-preview-item {
    width: 200px;
    position: absolute;
    top: 200px;
    right: calc((100vw - var(--site-width)) / 2);
}

.movie-preview-item-left {
    top: 0px !important;
    left: 0px;
}

#error-list {
    margin: 5px 5px 5px 0px;
}

#error-list-title {
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}

.error-list-item {
    color: lightcoral;
    list-style-type: none;
}