#delete-movie-btn {
    color: lightcoral;
    border-color: lightcoral;
}

#delete-movie-btn:hover {
    color: white;
    background-color: darkred;
    border-color: darkred;
}

#background-cover {
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    background-color: rgb(12, 24, 40, 0.96);
    z-index: -1;
}

#background {
    width: 100vw;
    position: absolute;
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
    left: 0;
    z-index: -2;

    background-size: cover;
    background-repeat: no-repeat;
}

#content-container {
    padding-top: 200px;
}

#movie-item-container {
    float: left;
    width: 45%;
}

#movie-item {
    float: right;
    width: 350px;
}

#movie-info-container {
    float: left;
    width: 55%;
}

.movie-text, input{
    color: white;
    margin-left: 60px;
}

h1 input, p input {
    margin-left: 0px;
}

#movie-title, #movie-plot-title, #movie-director-title, #movie-genres-title {
    margin-top: 40px;
}

#movie-plot, #movie-director, #movie-genres {
    margin-top: 10px;
    color: #8A85A3;
}