<!DOCTYPE html>
<html>

<head>
    <meta lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}" />
</head>

<body>
    <div class="container">
        <div class="login-container">
            <div class="login">
                <div class="login-title">
                    Log In
                </div>
                <form class="login-form" method="POST" action="{{ url_for('auth_login') }}">
                    <div class="login-row">
                        <svg class="login-icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                        </svg>

                        {{ form.username(class_="login-input name", autofocus=true, required=true) }}
                    </div>
                    <div class="login-row">
                        <svg class="login-icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                        </svg>

                        {{ form.password(class_="login-input pass", required=true) }}
                    </div>

                    <div id="not-a-member">Not a member? 
                        <a href="{{ url_for('auth_register') }}">
                            Click here
                        </a> 
                        to register.
                    </div>

                    {% if error %}
                        <div id="login-error">{{ error }}</div>
                    {% endif %}

                    <div id="unauthorized-error" class="error-text"></div>

                    <button type="submit" class="login-submit">Log in</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</body>

</html>