{% extends "movies/movie_layout.html" %}

{% block movie_head %}
    <script src="{{ url_for('static', filename='scripts/movie_item_resize.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/movie_form.js') }}"></script>
{% endblock %}

{% block background %}
    <div id="background" style="background-image: url('{{ movie.backdrop_url }}')"></div>
{% endblock %}

{% block movie_item_cover %}
    <div id="movie-item-cover" class="movie-item-cover" style="background-image: url('{{ movie.poster_url }}')"></div>
{% endblock %}

{% block movie_title %}
    {% if current_user.role == "ADMIN" %}
        {{ form.title(required=true) }}
    {% else %}
        {{ movie.title }}
    {% endif %}
{% endblock %}

{% block movie_plot %}
    {% if current_user.role == "ADMIN" %}
        {{ form.plot(required=true) }}
    {% else %}
        {{ movie.plot }}
    {% endif %}
{% endblock %}


{% block poster_url %}
    {% if current_user.role == "ADMIN" %}
        {{ form.poster_url(required=true) }}
    {% endif %}
{% endblock %}

{% block backdrop_url %}
    {% if current_user.role == "ADMIN" %}
        {{ form.backdrop_url(required=true) }}
    {% endif %}
{% endblock %}

{% block movie_director %}
    {% if current_user.role == "ADMIN" %}
        {{ form.director(required=true) }}
    {% else %}
        {{ movie.director.name }}
    {% endif %}
{% endblock %}

{% block movie_genres %}
    {% if current_user.role == "ADMIN" %}
        {{ form.genres(required=true) }}
    {% else %}
        {{ movie.genres_text }}
    {% endif %}
{% endblock %}

{% block extra_forms %}
    {% if current_user.role == "ADMIN" %}
        {% if movie.validated %}
            <form method="POST" action="{{ url_for('unvalidate_movie') }}" style="width: 55%; float: right;">
                {{ form.id }}
                <input class="submit-btn" type="submit" value="Hide Movie" />
            </form>
        {% else %}
            <form method="POST" action="{{ url_for('validate_movie') }}" style="width: 55%; float: right;">
                {{ form.id }}
                <input class="submit-btn" type="submit" value="Make Movie Visible" />
            </form>
        {% endif %}

        <form method="POST" action="{{ url_for('delete_movie') }}" style="width: 55%; float: right;">
            {{ form.id }}
            <input class="submit-btn" type="submit" value="Delete Movie" />
        </form>
    {% endif %}
{% endblock %}

{% block submit_btn %}
    {% if current_user.role == "ADMIN" %}
        <input class="submit-btn" type="submit" value="Update Movie" />
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if form.title.errors %}
        <p id="error-list-title">Movie Title is invalid:</p>

        <ul id="error-list">
            {% for error in form.title.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.poster_url.errors %}
        <p id="error-list-title">Poster URL is invalid:</p>

        <ul id="error-list">
            {% for error in form.poster_url.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.backdrop_url.errors %}
        <p id="error-list-title">Backdrop URL is invalid:</p>

        <ul id="error-list">
            {% for error in form.backdrop_url.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.director.errors %}
        <p id="error-list-title">Movie Director is invalid:</p>

        <ul id="error-list">
            {% for error in form.director.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.plot.errors %}
        <p id="error-list-title">Movie Plot is invalid:</p>

        <ul id="error-list">
            {% for error in form.plot.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.genres.errors %}
        <p id="error-list-title">Movie Genres are invalid:</p>

        <ul id="error-list">
            {% for error in form.genres.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}