{% extends "movies/movie_layout.html" %}

{% block movie_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movie_form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/movie_item.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_movie.css') }}">

    <script src="{{ url_for('static', filename='scripts/movie_item_resize.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/movie_form.js') }}"></script>
{% endblock %}

{% block background %}
    {% if form.backdrop_url.data %}
        <div id="background" style="background-image: url('{{ form.backdrop_url.data }}')"></div>
    {% else %}
        <div id="background"></div>
    {% endif %}
{% endblock %}

{% block movie_item_cover %}
    <div id="movie-item-cover" class="movie-item-cover" style="background-image: url('{{ form.poster_url.data }}')"></div>
{% endblock %}

{% block movie_title %}
    {{ form.title(required=true) }}
{% endblock %}

{% block movie_plot %}
    {{ form.plot(required=true) }}
{% endblock %}

{% block poster_url %}
    {{ form.poster_url(required=true) }}
{% endblock %}

{% block backdrop_url %}
    {{ form.backdrop_url(required=true) }}
{% endblock %}

{% block movie_director %}
    {{ form.director(required=true) }}
{% endblock %}

{% block movie_genres %}
    {{ form.genres(required=true) }}
{% endblock %}

{% block extra_form_elements %}
    <input name="form_action" value="{{ form_action }}" style="display: none;" />
{% endblock %}

{% block submit_btn %}
    <input class="submit-btn" type="submit" value="{{ button_text }}" />
{% endblock %}

{% block form_errors %}
    {% if form.title.errors %}
        <p id="error-list-title">Movie Title is invalid:</p>

        <ul id="error-list">
            {% for error in form.title.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.poster_url.errors %}
        <p id="error-list-title">Poster URL is invalid:</p>

        <ul id="error-list">
            {% for error in form.poster_url.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.backdrop_url.errors %}
        <p id="error-list-title">Backdrop URL is invalid:</p>

        <ul id="error-list">
            {% for error in form.backdrop_url.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.director.errors %}
        <p id="error-list-title">Movie Director is invalid:</p>

        <ul id="error-list">
            {% for error in form.director.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.plot.errors %}
        <p id="error-list-title">Movie Plot is invalid:</p>

        <ul id="error-list">
            {% for error in form.plot.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.genres.errors %}
        <p id="error-list-title">Movie Genres are invalid:</p>

        <ul id="error-list">
            {% for error in form.genres.errors %}
                <li class="error-list-item">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}